/* https://colorhunt.co/palette/e5d9f2f5efffcdc1ffa594f9 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

#nav-bar{
position: sticky;
top: 0;
z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #E5D9F2,#A594F9);
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left:20px ;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    border: none !important;
}

/* BANNER SECTION*/
#banner{
    background-image: linear-gradient(to right, #E5D9F2,#A594F9);
    padding-top: 5%;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 100px;
}

/* .para{
    font-size: 1.25rem !important;
} */

.subscribe-btn{
    font-size: 0.75rem;
    width:60px;
    margin:20px 20px 20px 0px;
    font-weight: 600;
    padding: .50em 1.25em;
}
/* 
#banner a:hover{
    background-color: #a517ba;
    color: #fff;
    transition: linear 300ms;
} */

#banner a{
    background-color: #fff;
    color:#a517ba;
    text-decoration: none;
    
}

.fa-bell {
        margin-left: 10px;
}
.img-fluid{
    float: right;
}

.bottom-img{
    width: 100%;
}

/* SERVICES */

#services{
    padding: 80px 0 80px 0;
}
.service-img{
    width:120px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;

}
.services ul li{
    list-style: none;
}
.title::before{
    content: "";
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
}

/* .title::after{
    content: "";
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
} */

#services .btn-primary{
    box-shadow: none;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1.25rem;
    background-image: linear-gradient(to right, #E5D9F2,#A594F9);
    margin: 0 auto;
    margin-top: 1.5rem;
}

/* ABOUT US */
    #about-us{
        background-color: #f8f9fa;
        padding-bottom: 50px;
        padding-top: 50px;
    }